<ion-header>
  <ion-toolbar>
      <h1 style="text-align: left; color: #4617db"><font size="7">Sign-up</font></h1>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <h1>Create Account</h1>
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-slides pager="true">
        <ion-slide>
          <ion-card>
            <ion-card-content>

              <ion-card-title>Student Sign-up</ion-card-title>
              <form>
                <ion-list>
    
    
                  <ion-item>
                    <ion-label position="stacked">School ID</ion-label>
                    <ion-input autocomplete="off" type="sid" [(ngModel)]="password" name="sid"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">School Password</ion-label>
                      <ion-input autocomplete="off" type="spassword" [(ngModel)]="password" name="spassword"></ion-input>
                      </ion-item>
            
                      
                <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input autocomplete="off" type="text" [(ngModel)]="email" name="email" ></ion-input>
                </ion-item>
                
                <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input autocomplete="off" type="password" [(ngModel)]="password" name="password"></ion-input>
                </ion-item>
                </ion-list>
                <ion-button expand="block" share="round" color="secondary" (click)="signupUser();">Signup</ion-button>
                            <ion-button expand="block" share="round" color="primary" routerLink='/login'>Have a Account?</ion-button>
              </form>
              <ion-text>
                <h5>Swipe Left to access Teacher and Admin Sign ups</h5>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              
              <ion-card-title>Teacher Sign-up</ion-card-title>
              <form>
                <ion-list>
    
    
                  <ion-item>
                    <ion-label position="stacked">School ID</ion-label>
                    <ion-input autocomplete="off" type="sid" [(ngModel)]="password" name="sid"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">School Password</ion-label>
                      <ion-input autocomplete="off" type="spassword" [(ngModel)]="password" name="spassword"></ion-input>
                      </ion-item>
            
                      
                <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input autocomplete="off" type="text" [(ngModel)]="email" name="email" ></ion-input>
                </ion-item>
                
                <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input autocomplete="off" type="password" [(ngModel)]="password" name="password"></ion-input>
                </ion-item>
                </ion-list>
                <ion-button expand="block" share="round" color="secondary" (click)="signupUser();">Signup</ion-button>
                            <ion-button expand="block" share="round" color="primary" routerLink='/login'>Have a Account?</ion-button>
              </form> 
              <ion-text>
                <h5>Swipe Left or Right to access Student and Admin Sign ups</h5>
              </ion-text>
              
          
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-title>Admin Sign-up</ion-card-title>

              <form>
                <ion-list>
    
    
                  <ion-item>
                    <ion-label position="stacked">School ID</ion-label>
                    <ion-input autocomplete="off" type="sid" [(ngModel)]="password" name="sid"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">School Password</ion-label>
                      <ion-input autocomplete="off" type="spassword" [(ngModel)]="password" name="spassword"></ion-input>
                      </ion-item>
            
                      
                <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input autocomplete="off" type="text" [(ngModel)]="email" name="email" ></ion-input>
                </ion-item>
                
                <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input autocomplete="off" type="password" [(ngModel)]="password" name="password"></ion-input>
                </ion-item>
                </ion-list>
                <ion-button expand="block" share="round" color="secondary" (click)="signupUser();">Signup</ion-button>
                            <ion-button expand="block" share="round" color="primary" routerLink='/login'>Have a Account?</ion-button>
              </form> 
              <ion-text>
                <h5>Swipe Right to access Student and Teacher Sign ups</h5>
              </ion-text>
              
          
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
      

    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>