
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h1{
    text-align: center;
  }
  ion-button{
    text-align: center;
    margin: 10%;
  }
  .new-background-color{
      --background: #4617db;
    
    }
    .text-color-primary{
    color: #ffffff
    
    }
    .text-color-secondary{
      color: #000000
    
    
    }