<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
  <p>Welcome to Sclass!</p>
  <p>School in the palm of your hand</p>
  </ion-slide>
  <ion-slide>
      <ion-icon name="newspaper-outline" style="font-size: 60px;color: #4617db;"></ion-icon>
  <p>See your what you school posted recently</p>
  </ion-slide>
  <ion-slide>
      <ion-icon name="calendar-outline" style="font-size: 60px;color: #4617db;"></ion-icon>
      <p>See upcoming assignments and test</p>
  </ion-slide>
  <ion-slide>
    <ion-icon name="chatbubbles-outline" style="font-size: 60px;color: #4617db;"></ion-icon>
    <p>Chat with your peers!</p>
    <p>Click Start to start!</p>
    </ion-slide>
  </ion-slides>