.new-background-color{
    --background: #4617db;
  
  }
  .text-color-primary{
  color: #ffffff
  
  }
  .text-color-secondary{
    color: #000000
  
  
  }

  .compose-post-area{
    display: flex;
    align-items: center;
}