<ion-header>
  <ion-toolbar>
    <h1 style="text-align: left; color: #4617db"><font size="7">Messages</font></h1>
    <ion-buttons slot="start">
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
   <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-searchbar showCancelButton="always"></ion-searchbar>


            <ion-card >
              <ion-item>
                <ion-label stacked>Set Nickname</ion-label>
                <ion-input type="text" [(ngModel)]="nickname" placeholder="Nickname"></ion-input>
              </ion-item>
              <ion-button (click)="joinChat()"  [disabled]="nickname === ''" routerLink='/submessage' > Join Chat as {{ nickname }}</ion-button>
              
            </ion-card>
            <ion-card>
              
            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
